[{:db/id -1, :kotoba.package/verified? true, :kotoba.package/lock-path "../kotoba-lang/examples/kotoba.lock.edn", :kotoba.package/manifest-path "../kotoba-lang/examples/package-manifest.edn", :kotoba.package/checked-at "2026-07-02T02:29:02.491401Z", :kotoba.package/problems [], :kotoba.package/entries "[#:package{:id \"kotoba-lang/json@0.1.0\", :repo-rid \"bafy...repo\", :manifest-cid \"bafy...manifest\", :tree-cid \"bafy...tree\", :result :accepted}]"}]