[{:db/id -1, :sbom/format :cyclonedx-edn, :sbom/version 1, :sbom/subject "{:repo \"kotoba-lang/crypto\", :commit \"2fd5f1ce186c02ad2080a42a5a10bc84869db7bd\", :deps-edn \"../crypto/deps.edn\"}", :sbom/components "[{:type :git-dep, :name \"io.github.cognitect-labs/test-runner\", :git/tag \"v0.5.1\", :git/sha \"dfb30dd\", :scope :test}]"}]