[{:db/id -1, :sbom/format :cyclonedx-edn, :sbom/version 1, :sbom/subject "{:repo \"kotoba-lang/kotoba\", :commit \"b39383f00702545eea0e371557f21e3e4b5964b3\", :deps-edn \"../kotoba/deps.edn\"}", :sbom/components "[{:type :local-sibling, :name \"io.github.kotoba-lang/kotoba-lang\", :local/root \"../../kotoba-lang/kotoba-lang\", :scope :runtime} {:type :local-sibling, :name \"kotoba-lang/kotoba-core-contracts\", :local/root \"../../kotoba-lang/kotoba-core-contracts\", :scope :runtime} {:type :local-sibling, :name \"kotoba-lang/kotoba-selfhost-contracts\", :local/root \"../../kotoba-lang/kotoba-selfhost-contracts\", :scope :runtime} {:type :maven, :group \"org.clojure\", :artifact \"data.json\", :version \"2.5.1\", :scope :runtime} {:type :maven, :group \"org.clojure\", :artifact \"tools.reader\", :version \"1.5.2\", :scope :runtime}]"}]