[{:db/id -1, :sbom/format :cyclonedx-edn, :sbom/version 1, :sbom/subject "{:repo \"kotoba-lang/security\", :commit \"c9fee1049b94d115abe3fb1aecc7fbc9aa3dcd4e\", :deps-edn \"../security/deps.edn\"}", :sbom/components "[{:type :maven, :group \"org.clojure\", :artifact \"clojure\", :version \"1.12.4\", :scope :runtime} {:type :git-dep, :name \"io.github.cognitect-labs/test-runner\", :git/tag \"v0.5.1\", :git/sha \"dfb30dd\", :scope :test} {:type :maven, :group \"org.bouncycastle\", :artifact \"bcprov-jdk18on\", :version \"1.81\", :scope :vectors} {:type :git-dep, :name \"io.github.cognitect-labs/test-runner\", :git/tag \"v0.5.1\", :git/sha \"dfb30dd\", :scope :vectors-test}]"}]