{:register/type :kotoba.security/shared-security-adoption
 :register/version 2
 :register/as-of "2026-07-20"
 :security/git-sha "23caaefa6ca35904f9d0c2dc0cbb3bec91ae8956"
 :consumers
 {:kotoba {:status :adopted
           :pull-request "https://github.com/kotoba-lang/kotoba/pull/385"
           :main/git-sha "ecb805348a1495b7aac19d3e8af8058baee06fb6"
           :conformance {:pull-request "https://github.com/kotoba-lang/kotoba/pull/388"
                         :central-verifier-in-ci? true :adoption/version 2}
           :verification {:local :pass
                          :ci :inherited-main-failure
                          :failure :chicory-jdk-host-function-type}}
  :kotoba-lang {:status :adopted
                :pull-request "https://github.com/kotoba-lang/kotoba-lang/pull/31"
                :main/git-sha "22a3e90addb9f37f19501b51817a55802d287fe1"
                :conformance {:pull-request "https://github.com/kotoba-lang/kotoba-lang/pull/33"
                              :central-verifier-in-ci? true :adoption/version 2}
                :verification {:local :pass :ci :pass
                               :runtime-path :release-admission}}
  :kototama {:status :adopted
             :pull-request "https://github.com/kotoba-lang/kototama/pull/43"
             :main/git-sha "1e24ecc1e41b7f18b6ab40b4c46e1b2557d25aac"
             :conformance {:pull-request "https://github.com/kotoba-lang/kototama/pull/45"
                           :central-verifier-in-ci? true :adoption/version 2}
             :verification {:local :pass
                            :ci :inherited-main-failure
                            :failure :missing-local-dependency-checkout}}
  :kotobase {:status :adopted
             :pull-request "https://github.com/kotoba-lang/kotobase/pull/13"
             :main/git-sha "f373875a4bd4f7c4d311c5d4c80f67f8c11e03aa"
             :conformance {:pull-request "https://github.com/kotoba-lang/kotobase/pull/15"
                           :central-verifier-in-ci? true :adoption/version 2}
             :verification {:local :pass :ci :pass}}
  :aiueos {:status :adopted
           :pull-request "https://github.com/kotoba-lang/aiueos/pull/125"
           :main/git-sha "3762627b8fd44d23d3bf44c8ddea6b4d7332a725"
           :conformance {:pull-request "https://github.com/kotoba-lang/aiueos/pull/127"
                         :central-verifier-in-ci? true :adoption/version 2}
           :verification {:local :pass
                          :ci/core :pass
                          :ci/uefi-smoke :running-at-merge}}
  :compiler {:status :adopted
             :pull-request "https://github.com/kotoba-lang/compiler/pull/140"
             :main/git-sha "cd023eb690c19f0725e3f8dd5506fc9cfa69776e"
             :conformance {:pull-request "https://github.com/kotoba-lang/compiler/pull/145"
                           :central-verifier-in-ci? true :adoption/version 2}
             :verification {:local :pass
                            :ci/completed-jobs :pass
                            :ci/platform-matrix :running-at-merge}}
  :kagi {:status :adopted
         :pull-request "https://github.com/kotoba-lang/kagi/pull/13"
         :main/git-sha "0fcbf3c1d453b259e9f166dc6678cfe66d97dc6a"
         :conformance {:pull-request "https://github.com/kotoba-lang/kagi/pull/15"
                       :central-verifier-in-ci? true :adoption/version 2}
         :verification {:local :pass :ci :pass}}
  :kagitaba {:status :adopted
             :pull-request "https://github.com/kotoba-lang/kagitaba/pull/5"
             :main/git-sha "d2b1215933d75f99cb22dd96b311d517768c46d3"
             :conformance {:pull-request "https://github.com/kotoba-lang/kagitaba/pull/7"
                           :central-verifier-in-ci? true :adoption/version 2}
             :verification {:local :pass :ci :pass
                            :runtime-path :sealed-import-admission}}}
 :non-consumers #{}}
